.homepage {
  max-width: 375px;
  font-family: spartan;
}

img {
  max-width: 375px;
}

h4 {
  width: 300px;
  letter-spacing: 3px;
  font-weight: 700;
}

p {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding-bottom: 20px;
}

.about {
  padding-left: 23px;
  padding-right: 23px;
}
